@model IEnumerable<InAndOut.Models.Item>

<script src="~/js/ItemEdit.js"></script>
<link rel="stylesheet" href="~/css/ItemEdit.css">
<div class="container p-3">
    <h3><strong>@TempData["Message"]</strong></h3>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Borrowed Items</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Item" asp-action="Create">Create new Item</a>
            <a onclick="deleteRow()" class="btn btn-danger" asp-controller="Item" asp-action="Delete">Delete</a>
            <a onclick="editRow()" class="btn btn-warning">Edit Item</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Borrower
                    </th>
                    <th>
                        Lender
                    </th>

                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onClick="HighLightTR(this.id,this,'#c9cc99','cc3333');">
                        <td width="30%">@item.ItemName</td>
                        <td width="30%">@item.Borrower</td>

                        <td width="30%">@item.Lender</td>
                    </tr>



                    //< tr onclick = "location.href = '@(Url.Action("Edit", "Item", new { Id = @item.Id }))'" >

                    //       < td width = "30%" > @item.ItemName </ td >

                    //        < td width = "30%" > @item.Borrower </ td >


                    //         < td width = "30%" > @item.Lender </ td >

                    //      </ tr >


                }

            </tbody>
        </table>

    }
    else
    {
        <p>No item created yet!</p>
    }

</div>

<script>
    var linkEdit = '@Url.Action("Edit", "Item")';
    var linkDelete = '@Url.Action("Delete", "Item")';
</script>

@* Nie działało nam bo Url.Action nie działa jak jest w pliku .js, wtedy trzeba statyczny link, albo zdefiniować Url.Action tutaj i wysłać jako parametr do .js*@
@*<script>
        function edtiRow() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Edit", "Item")',
                contentType: "application/json; charset=utf-8",
                data: {id: idRow },
                dataType: "json",
                success: function (recData) { alert('Success'); },
                error: function () { alert('A error'); }
        });
    };
    </script>*@